<!DOCTYPE html>
<html>
<head>
    <title>Weather Info</title>
</head>
<body>
    <h1>Weather Information</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

    {% if current_weather %}
        <h2>Weather Data</h2>
        <ul>
            {% for key, value in current_weather.items %}
                {% if key == "picture" %}
                    <li><img src="{{ value }}" alt="Weather image" style="max-width:300px;"></li>
                {% else %}
                    <li>{{ value }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
    {% endif %}
    {% if forecast_weather %}
    <h2>Forecast Data</h2>
    {% for date, day_data in forecast_weather.items %}
        <h3>{{ date }}</h3>
        <ul>
            {% for key, value in day_data.items %}
                {% if key == "picture" %}
                    <li><img src="{{ value }}" alt="Weather Image" style="max-width:300px;"></li>
                {% else %}
                    <li>{{ value }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}
{% endif %}
Made by Damir Z <a href="https://github.com/damiraskme/weather-site" title="github">Github</a>
Powered by <a href="https://www.weatherapi.com/" title="Free Weather API">WeatherAPI.com</a>
<a href="https://www.linkedin.com/school/pmaccelerator/"><img src="https://media.licdn.com/dms/image/v2/C560BAQERjWEoRZ15Tg/company-logo_200_200/company-logo_200_200/0/1656545579397/productmanagerinterview_logo?e=1753920000&v=beta&t=Pq-GcqEuirDyOwm4Uk_vm8GllqExmWxNw3mrbvRV8d4" style="max-width: 200px;"></a>
</body>
</html>
